
h1{
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  text-decoration: inherit;

}
.topnav{
  background-color: #f15a29;
  height: 180px;
   background-image: url(../img/piny.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.col-md-4{
  background-color: white;
  height: 500px;
  width: 200px;
  font-size: 20px;
  font-style: italic;
}
.col-md-8{
   background-color:gold;
   height: 500px;
   animation-name: example;
   animation-duration: 4s;
   background-size: cover;


}
.footernav{
  background-color:#f15a29;
  height: 40;

}
